.App {
  margin: 0 auto;
  padding: 0;
}

.meio {
  max-width: 700px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
  padding: 30px;
  margin: 80px auto;
  min-height: 790px; 
}

.meio>.quadrado {
  border: 2px solid rgba(var(--b6a, 219, 219, 219));
  text-align: center;
  margin-left: 4px;
}

.placeholder {
  margin-top: 30px;
  justify-content: center;
  display: flex;
}

h1 {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1>svg {
  margin-right: 10px;
}

input {
  border: 3px solid rgb(238, 238, 238);
  flex: 1 1 0%;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

button {
  background-color: purple;
  color:rgb(238, 238, 238);
  border: 0px;
  padding: 0px 15px;
  margin-left: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

ul {
  list-style: none;
  margin-top: 30px;
  margin-left: -30px;
}

li {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 15px 0px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

